body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
  color: slategrey;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: italic;
  color: blue;
}

#instructions {
  color: black;
}

button {
  padding: 15px;
  border-radius: 8px;
}

#gameButtonArea > button {
  width: 100px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: violet;
}

#button1:active,
#button1.lit {
  background: purple;
  background-image: url("https://cdn.glitch.com/ac531609-90a6-4f17-aa5d-6bfa6cd93b31%2F8BA4A62D-EE7A-494D-B463-CEEE401E63E0_1_201_a.jpeg?v=1616438257956");
}

#button2 {
  background: deepskyblue;
}

#button2:active,
#button2.lit {
  background: navy;
  background-image: url("https://cdn.glitch.com/ac531609-90a6-4f17-aa5d-6bfa6cd93b31%2F5DD06178-2E9B-4C77-BB98-FF2441C29E59.jpeg?v=1616439305090");
}

#button3 {
  background: salmon;
}

#button3:active,
#button3.lit {
  background: crimson;
  background-image: url("https://cdn.glitch.com/ac531609-90a6-4f17-aa5d-6bfa6cd93b31%2FF48E66DD-9AFA-41BA-920E-FE85F910E262.jpeg?v=1616439497700");
}

#button4 {
  background: beige;
}

#button4:active,
#button4.lit {
  background: khaki;
  background-image: url("https://cdn.glitch.com/ac531609-90a6-4f17-aa5d-6bfa6cd93b31%2F2A2823EF-0DD7-4987-AE3F-053BD195870B.jpeg?v=1616439709138");
}

#button5 {
  background: violet;
}

#button5:active,
#button5.lit {
  background: purple;
}

#button6 {
  background: deepskyblue;
}

#button6:active,
#button6.lit {
  background: navy;
}

#button7 {
  background: salmon;
}

#button7:active,
#button7.lit {
  background: crimson;
}

#button8 {
  background: beige;
}

#button8:active,
#button8.lit {
  background: khaki;
}
